<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/irongrid_style.css" type="text/css" />
    <title>IRON GRID</title>
  </head>
  <body>
    <style>
    @import 'https://fonts.googleapis.com/css?family=Chewy';
    </style>
    {{{ body }}}
  </body>
</HTML>